/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #278239;
}
.bg-color--subcolor {
  background-color: #d9e021;
}
.bg-color--gray {
  background-color: #e6e6e6;
}
.text-white {
  color: #eeeeee;
}
